<mat-toolbar class="toolbar-container">
  <div class="newtb-btn tbbtn">
    <button mat-stroked-button (click)="newToolbar()"><mat-icon>folder_open</mat-icon><span class="oicon">New</span></button>
  </div>
  <div class="opentb-btn tbbtn">
    <button mat-stroked-button (click)="openToolbar()"><mat-icon>folder_open</mat-icon><span class="oicon">Open</span></button>
  </div>
  <div class="savetb-btn tbbtn">
      <button mat-stroked-button (click)="saveToolbar()"><mat-icon>save</mat-icon><span class="oicon">Save</span></button>
  </div>
</mat-toolbar>