/deep/mat-toolbar.toolbar-container{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-content: space-around;
    &.mat-toolbar-single-row{
        height: 60px;
    }
    .tbbtn{
        margin: 0 10px 0 0;
        button{
            font-size: 16px;
            display: flex;
            justify-content: center;
            mat-icon{
                font-size: 18px;
                display: inline-flex;
                line-height: 21px;
                
            }
            .oicon{
                display: inline-flex;
                font-size: 12px;
            }
        }
    }    
}

@media(max-width: 590px){
    .tbbtn{
        button{
            .oicon{
                display: none;
            }
        }
    }

}