
//Material Theme Colors
$mat-thm-900: #0D47A1;
$mat-thm-700: #1976D2;
$mat-thm-300: #64B5F6;

//Material Theme Accent Colors
$mat-thm-acnt-900: #1B5E20;
$mat-thm-acnt-700: #388E3C;
$mat-thm-acnt-300: #81C784;

//Theme base styles 
$thm-font: 'Open Sans', sans-serif;
$thm-font-bold: 600;
$thm-font-regular: 400;
$thm-font-color: #828282;
$thm-content-font-size: 1em;
$thm-content-font-color: #828282;

$thm-diag-header: 16px;