<div class="tb-app-container">
    <div class="top-toolbar">
        <app-toolbar (appToolbarEvent)="appToolbarEvent($event)" (cleartoolbar)="clearToolbar($event)"></app-toolbar>
    </div>
    <div class="main-container">
        <div class="slick-toolbar">
            <slick-toolbar [toolbar]='toolbar' (tbUpdateEvent)="updateToolbar($event)"></slick-toolbar>
        </div>
        <div class="preview-container">
            <tb-preview [toolbar]='previewtb'></tb-preview>
        </div>
    </div>
</div>