.mat-dialog-content{
    border: 1px solid lightgray;
    margin: 5px;
    border-radius: 8px;
}

.mat-dialog-actions{
    justify-content: flex-end; 
}

pre{
    word-wrap: break-word;
    white-space: pre-wrap;
} 